{{- if and ( .Values.exporter.wordpress.enabled ) ( .Values.monitoring.enabled ) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "wordpress-bedrock.fullname" . }}-exporter
  labels:
{{ include "wordpress-bedrock.labels" . | indent 4 }}
    app.kubernetes.io/component: "exporter"
  annotations:
    {{- if .Values.wordpress.uptime }}
    downscaler/uptime: {{.Values.wordpress.uptime}}
    {{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "wordpress-bedrock.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: "exporter"
  template:
    metadata:
      labels:
        {{- include "wordpress-bedrock.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: "exporter"
      {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      annotations:
        {{- if .Values.automaticZonePlacement.enabled }}
        automatic-zone-placement/fqdn: "{{ .Values.automaticZonePlacement.fqdn }}"
        {{- end }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ template "wordpress-bedrock.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}-wordpress-monitor
          securityContext:
            {{- toYaml .Values.exporter.wordpress.securityContext | nindent 12 }}
          image: "{{ .Values.exporter.wordpress.image.repository }}:{{ .Values.exporter.wordpress.image.tag }}"
          imagePullPolicy: {{ .Values.exporter.wordpress.image.pullPolicy }}
          env:
          - name: WORDPRESS_TABLE_PREFIX
            value: "wp_"
          {{- range $key, $value := .Values.externalSecrets.env }}
          {{- if (contains "DB_" $key) }}
          {{- if not (contains "_ROOT_" $key) }}
          - name: WORDPRESS_{{ $key | replace "USERNAME" "USER" }}
            valueFrom:
              secretKeyRef:
                name: {{ template "wordpress-bedrock.fullname" $ }}
                key: {{ $key | lower | replace "_" "-" }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- with .Values.env }}
          {{- range $key, $value := . }}
          {{- if (contains "DB" $key) }}
          - name: WORDPRESS_{{ $key }}
            value: {{ $value | quote }}
          {{- end }}
          {{- end }}
          {{- end }}
          ports:
            - name: metrics
              containerPort: {{ .Values.exporter.wordpress.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /metrics
              port: metrics
          resources:
{{ toYaml .Values.exporter.wordpress.resources | indent 12 }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.karpenter.optimization }}         
      {{- include "wordpress-bedrock.archSelector" . | trim | nindent 6 }}
      {{- else }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
{{- end }}
